#mainLayout {
  background-color: rgb(228, 205, 184);
}

.card {
  /* border: 2px solid brown !important; */
  margin: 10px 0px;
}

.pagination .page-link.active {
  color: white !important;
  background: rgba(165, 42, 42, 0.705) !important;
  border-color: rgba(165, 42, 42, 0.705)
}

.pagination .page-link {
  background: white;
  color: rgba(165, 42, 42, 0.705);
  border-color: rgba(165, 42, 42, 0.705)
}

.btn-outline-primary{
  color: rgba(165, 42, 42, 0.705) !important;
  border-color: rgba(165, 42, 42, 0.705) !important;
}

.btn-outline-primary:hover{
  background: rgba(165, 42, 42, 0.705) !important;
  color: white !important;
}

